<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentUpdate</servlet-name>
  	<display-name>StudentUpdate</display-name>
  	<description></description>
  	<servlet-class>servlet.StudentUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherUpdate</servlet-name>
  	<display-name>TeacherUpdate</display-name>
  	<description></description>
  	<servlet-class>servlet.TeacherUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentAchievement</servlet-name>
  	<display-name>AddStudentAchievement</display-name>
  	<description></description>
  	<servlet-class>servlet.AddStudentAchievement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacherAchievement</servlet-name>
  	<display-name>AddTeacherAchievement</display-name>
  	<description></description>
  	<servlet-class>servlet.AddTeacherAchievement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherDelete</servlet-name>
  	<display-name>TeacherDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.TeacherDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentDelete</servlet-name>
  	<display-name>StudentDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentUpdate</servlet-name>
  	<url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherUpdate</servlet-name>
  	<url-pattern>/TeacherUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentAchievement</servlet-name>
  	<url-pattern>/AddStudentAchievement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacherAchievement</servlet-name>
  	<url-pattern>/AddTeacherAchievement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherDelete</servlet-name>
  	<url-pattern>/TeacherDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentDelete</servlet-name>
  	<url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
</web-app>
